<section id="team">
    <div class="row">
        <div class="col">
            <div ng-show="loading">
                <div class="loader"></div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="!loading">
        <div class="col">
            <div class="media">
                <img class="mr-3 img-fluid img-thumbnail crest-img" ng-src="{{ team.crestUrl }}" alt="Team crest">
                <div class="media-body">
                    <h5 class="mt-0">{{ team.name }}</h5>
                    <hr>
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="nav-players-tab" target="_self" data-toggle="pill" href="#nav-players" role="tab"
                                aria-controls="nav-players" aria-selected="true">Players</a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="#">Fixtures</a> -->
                            <a class="nav-item nav-link" id="nav-fixtures-tab" target="_self" data-toggle="pill" href="#nav-fixtures" role="tab" aria-controls="nav-fixtures"
                                aria-selected="false">Fixtures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="nav-league-table-tab" target="_self" data-toggle="pill" href="#nav-league-table" role="tab"
                                aria-controls="nav-league-table" aria-selected="false">League table</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
    </div>
    <div class="row tab-content-row">
        <div class="tab-content col" id="nav-tabContent">
            <!-- Players tab -->
            <div class="tab-pane fade show active" id="nav-players" role="tabpanel" aria-labelledby="nav-players-tab" ng-hide="playersLoading">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Jersey Number</th>
                            <th scope="col">Contract expiry date</th>
                            <th scope="col">Nationality</th>
                            <th scope="col">Born</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players">
                            <td>{{$index + 1}}</td>
                            <td>{{player.name}}</td>
                            <td>{{player.position}}</td>
                            <td>{{player.jerseyNumber}}</td>
                            <td>{{player.contractUntil}}</td>
                            <td>{{player.nationality}}</td>
                            <td>{{player.dateOfBirth}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <!-- Fixtures tab -->
            <div class="tab-pane fade" id="nav-fixtures" role="tabpanel" aria-labelledby="nav-fixtures-tab">

            </div>

            <!-- League table tab -->
            <div class="tab-pane fade" id="nav-league-table" role="tabpanel" aria-labelledby="nav-league-table-tab">

            </div>
        </div>
    </div>
</section>